agent_04-meeting-minutes-summerizer/meeting-summerizer.json
{
  "name": "meeting-summerizer",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        16
      ],
      "id": "23c0b34c-9455-4ab1-bf28-ba9b649e3119",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "https://drive.google.com/file/d/1x0NUZrLTm9dhjCUqbWPGA6fKiktUirCW/view?usp=sharing",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -320,
        16
      ],
      "id": "70dff079-c98a-4402-ba59-e3479fe3e617",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wGLzzjG8pWB8kReo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -176,
        16
      ],
      "id": "463dfe28-9576-4d8e-9b1f-ee0fc5e8d013",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert meeting assistant. Analyze the following meeting transcript and generate structured meeting minutes.\n\nTranscript:\n{{ $json.data }}\n\nGenerate the following sections:\n\n1. SUMMARY: Write a 2-3 paragraph overview covering meeting purpose, key discussion points, and main outcomes.\n\n2. ACTION ITEMS: List all action items with:\n   - Task description\n   - Owner (who is responsible)\n   - Deadline (if mentioned)\n   - Priority (High/Medium/Low)\n\n3. KEY DECISIONS: List all major decisions made during the meeting with brief rationale.\n\n4. FOLLOW-UP EMAIL: Write a professional email to send to all participants including:\n   - Thank you for attendance\n   - Brief meeting summary\n   - List of action items\n   - Next steps\n\nFormat the output clearly with section headers.\nKeep the tone professional but concise.",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        0,
        16
      ],
      "id": "52a00c1a-c355-4a7c-8775-ca12b8692f76",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -112,
        224
      ],
      "id": "d9364f4c-e402-4299-b748-3503b323e7f4",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Ifr9xxA37cMPlCGE",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        16,
        192
      ],
      "id": "bd6283b1-5805-46e7-a096-12c3b66fa529",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "SzE00qquFpefZUoE",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "siddique5623530@gmail.com",
        "subject": "=Meeting Minutes! {{ $json.output.state }}",
        "emailType": "text",
        "message": "={{ $json.output.email_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        16
      ],
      "id": "d0697d95-f654-4a84-9998-4c23fdf0b192",
      "name": "Send a message",
      "webhookId": "22c0355c-7053-4bed-857a-37d0d5189023",
      "credentials": {
        "gmailOAuth2": {
          "id": "Z7QBS14zaNRCwmW4",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"state\": \"California\",\n  \"cities\": [\"Los Angeles\", \"San Francisco\", \"San Diego\"],\n  \"email_body\": \"State: California\\nCities:\\n- Los Angeles\\n- San Francisco\\n- San Diego\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        176,
        224
      ],
      "id": "bce4972d-847d-4861-ae13-b62f2648c192",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a7a16225-9b55-4f19-95f8-8e10f491ecf3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "97b30d63b984fa1551246ff57548a75e4b0f840b465b2311ba1960c14db35415"
  },
  "id": "Z5syZZeXhOTmgcvRKoDpJ",
  "tags": []
}